* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

main {
    /* display: flex;
    justify-content: space-between; */
    max-width: 80%;
    margin: 0 auto;
    /* gap: 5%; */
}

main section:first-child {
    display: flex;
    justify-content: space-between;
    gap: 5%;
    margin-bottom: 2rem;
}

main section:nth-child(2) {
    background-color: darksalmon;
    display: none;
 


}

h2 {
    font-size: 1.25rem;
}

div {
    width: 100%;
    border: 3px solid steelblue;
    border-radius: 5%;

    img {
        width: 100%;
    }
    li {
        list-style: none;
    }
}

#alquileres {
    margin: 1rem 0;

}

.bold {
    font-weight: 600;
}