* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

main {
    max-width: 80%;
    margin: 5% auto;
}

div {
    max-width: 80%;
    margin: 2rem 1rem;
    display: block;
}

label {
    display: block;
}

legend {
    text-align: left;    
}

input[type="text"] {
    display:flex;
}