body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    background: #bbdefb; /* Azul claro */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    font-weight: bold;
}

input, select, button {
    width: 100%;
    max-width: 600px;
    margin: 5px auto;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #000;
    display: block;
    background-color: #f0f0f0; /* Gris claro */
}

button {
    background: green;
    color: white;
    border: 1px solid darkgreen;
    font-size: 14px;
    cursor: pointer;
}

button:hover {
    background: darkgreen;
}

.tasks {
    text-align: left;
    margin-top: 20px;
}

.task-container {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    min-height: 50px;
}

#pendiente {
    background-color: #ffcccc; /* Rojo claro */
}

#ejecucion {
    background-color: #fff9c4; /* Amarillo claro */
}

#realizada {
    background-color: #c8e6c9; /* Verde claro */
}

.task {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #000;
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
    background: white;
    font-size: 16px;
}

.task select {
    border: 1px solid #000;
    padding: 5px;
    border-radius: 5px;
    background-color: #f0f0f0; /* Gris claro */
    order: 3;
}

.actions {
    display: flex;
    gap: 5px;
}

.actions button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.actions button:hover {
    opacity: 0.7;
}

.delete-btn {
    color: red;
}

.complete-btn {
    color: green;
}

.move-btn {
    color: orange;
}

.task div p {
    font-size: 12px;
    color: gray;
    margin: 5px 0 0 0;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

.task-inputs {
    display: flex;
    flex-direction: row; /* Alinear en la misma línea */
    align-items: center;
    justify-content: center; /* Centrar los elementos */
    gap: 20px;
    max-width: 800px;
    margin: auto;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: auto;
}
