body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4CAF50, #2196F3);
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.container {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    width: 90%; /* Increased width */
    max-width: 1200px; /* Allow more content horizontally */
    overflow: hidden; /* Prevent unnecessary scrollbars */
}
.icono-clima {    
    height: 150px;
    width: 150px;
}
select, input {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: none;
}

.weather-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Spread items horizontally */
    gap: 20px;
}

.weather-layout .info {
    flex: 0 0 auto; /* Ajusta el tamaño al contenido */
    text-align: left; /* Alinea el texto a la izquierda */
    max-width: 300px;
    text-align: center;
}

.weather-layout .icono-clima {
    flex: 0 0 auto;
    margin-left: 0; /* Elimina el margen izquierdo */
    width: 100px;
    height: 100px;
}

.responsive-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

/* Responsive rules */
@media (min-width: 768px) {
    .responsive-layout {
        padding: 20px;
    }

    .container {
        padding: 30px;
    }

    .weather-layout {
        flex-wrap: nowrap; /* Prevent wrapping on larger screens */
    }

    .weather-layout .info {
        max-width: 400px;
    }

    .weather-layout .icono-clima {
        width: 150px;
        height: 150px;
    }

    .forecast-layout {
        justify-content: space-between;
    }
}

@media (min-width: 1024px) {
    .responsive-layout {
        padding: 30px;
    }

    .container {
        padding: 40px;
    }

    .weather-layout {
        justify-content: space-between;
    }

    .weather-layout .info {
        max-width: 500px;
    }

    .weather-layout .icono-clima {
        width: 200px;
        height: 200px;
    }

    .forecast-layout {
        justify-content: space-between;
    }
}

.forecast-layout {
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Spread forecast items horizontally */
    gap: 20px;
}

#forecast-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Spread forecast items horizontally */
    gap: 20px;
}

.forecast-item {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
    width: 120px;
    text-align: center;
}

.forecast-item img {
    width: 50px;
    height: 50px;
}

.forecast-item p {
    margin: 5px 0;
}

/* Responsive rules */
@media (min-width: 768px) {
    #forecast-container {
        justify-content: space-between;
    }

    .forecast-item {
        width: 150px;
    }
}

@media (min-width: 1024px) {
    .forecast-item {
        width: 200px;
    }
}