body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4CAF50, #2196F3);
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.container {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
}
.icono-clima {    
    height: 150px;
    width: 150px;
}
select, input {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: none;
}

.weather-layout {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    gap: 20px; /* Espaciado entre los elementos */
}

.weather-layout .info {
    flex: 0 0 auto; /* Ajusta el tamaño al contenido */
    text-align: left; /* Alinea el texto a la izquierda */
}

.weather-layout .icono-clima {
    flex: 0 0 auto;
    margin-left: 0; /* Elimina el margen izquierdo */
}